<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Choose analyzer to service:</h3>
    <hr>


    <br></br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Analyzer</th>
            <th>Product number</th>
            <th>Manufacturer</th>
            <th>Analyzer Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anAnalyzer : ${analyzersList}">
            <td th:text="${anAnalyzer.anlzModel.analyzerName}"/>
            <td th:text="${anAnalyzer.anlzModel.analyzerProductNumber}"/>
            <td th:text="${anAnalyzer.serialNumber}"/>
            <td th:text="${anAnalyzer.installationDate}"/>
            <td th:text="${anAnalyzer.customr.name}"/>
            <td>
                <a th:href="@{/manager/servicevisit/new(id=${anAnalyzer.analyzerId})}"
                   class="btn btn-info btn-sm">
                    New service visit
                </a>
                <a th:href="@{/manager/servicevisit/history(id=${anAnalyzer.analyzerId})}"
                   class="btn btn-danger btn-sm" >
                    View History
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>


